.main {
  
  &__bodyWrapper {
    display: flex;
    flex-wrap: wrap;
  }
  &__list {
    width: 30%;
    min-width: 400px;
    border-right: 2px solid black;
    overflow: scroll;
    height: 94vh
  }
  &__map {
    overflow: hidden;
    position: absolute;
    left: 30%; 
    width: 70%;
    max-height: 94vh;
  }
}

.listCard {

  &__wrapper {
    border: 1px solid black;
    margin: 2%;
    box-shadow: 0px 10px 7px -9px rgba(0,0,0,0.75);
  }
  &__image {
      width: 100%;
  }
  &__text {
      font-size: 12pt
  }
  &__button {
    width: 50%;
    border: 1px solid black;
  } 
}

.navbar {

  &__wrapper {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
  }
  &__button {
    border: 0px;
    background-color: white;
  }
}

